$red-col: 					#F01414;
$yellow-col: 				#FFCB32;
$navi-col: 					#4C5669;
$dark-col: 					#2C2E32;
$lightgray-col: 			#99A1B1;
$gray-col: 					#B2B9C7;
$white-col: 				#fff;
$black-col: 				#000;
$facebook-col: #3b5999;
$gallery-min-col:   #D6E0DE;
$gallery-max-col:   #E8EEEE;
